**/node_modules
**/storage
.env
.idea
cloudchain.com+3.pem
cloudchain.com+3-key.pem
**/polygon/polygon-network
**/polygon/src
**/polygon/staking-contracts
**/web3py/__pycache__
**/web3py/results
**/web3py/config
**/web3py/.pytest_cache
**/besu_quorum_scripts/config
**/besu_quorum_scripts/src
**/build
